ul {
    width: 800px;
    height: 800px;
    background-color: #eeeeee;
    position: relative;
}

li {
    width: 50%;
    height: 100px;
    background: #000000;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
}

.grid {
    position: absolute
}

#test {
    margin: 50px;
}